<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="{% url 'shop:allProdCat'%}">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{%url 'shop:allProdCat'%}">All Products</a></li>
             {%for cat in links%}
            <li><a class="dropdown-item" href="{{cat.get_url}}">{{cat.name}}</a></li>
            {%endfor%}
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           <i class="fa fa-user-circle-o"></i>
          </a>
        {% if user.is_authenticated%}
        <ul class="dropdown-menu">
           <li>{{user_name}}</li>
           <li><a class="dropdown-item" aria-current="page" href="{% url 'credential:logout' %}">Logout</a></li>
        </ul>
<!--         <li class="nav-item">-->
<!--          <a class="nav-link active text-white" aria-current="page" href="{% url 'credential:logout' %}">Logout</a>-->
<!--        </li>-->
        {%else%}
         <ul class="dropdown-menu">
          <li><a class="dropdown-item" aria-current="page" href="{% url 'credential:register' %}">Register</a></li>
          <li>
           <a class="dropdown-item" aria-current="page" href="{% url 'credential:login' %}">Login</a>
          </li>
         </ul>
        {%endif%}
        {%if item_count > 0%}
        <li class="nav-item">
          <a class="nav-link text-white" href="{%url 'cart:cart_detail' %}"><i class="fa fa-shopping-cart">{{item_count}}</i>
          </a>
        </li>
        {%endif%}
      </ul>
      <form class="d-flex dd" role="search" method="get" action="{%url 'search_app:searchResult'%}">
        <input class="form-control me-2" type="search" placeholder="Search" name='q' aria-label="Search">
        <button  type="submit"><i class="fa fa-search "></i></button>
      </form>
    </div>
  </div>
</nav>









